// TEXT SIZE
$text-size-100: 12px;
$text-size-200: 14px;
$text-size-300: 18px;
$text-size-400: 24px;
$text-size-500: 32px;
$text-size-600: 40px;
$text-size-700: 48px;
$text-size-800: 56px;
$text-size-900: 64px;